.hero {
  max-width: 1600px;
  height: 600px;
  @include centered();
  @include sectionPadding(200px, 200px);
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero__title {
  width: 696px;
  @include centered();
  margin-bottom: 30px;

  color: var(--base-color);

  @include font(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;
}
