/* кольори та основни шрифт */
/* колір футера - #2F303A */
/* колір логотипу та хрестика - #000000 */
/* колір ховеру головної кнопки - #188CE8 */
/* колір тексту із прозорістю - rgba(255, 255, 255, 0.6) */
/* колір лінії - #ECECEC */

/* ?Raleway 700, Roboto 400 500 700 900 */

/* css змінні */
/* колір акценту - #2196F3 */
/* основний колір фону - #FFFFFF */
/* колір заголовків - #212121 */
/* колір тексту - #757575 */
/* колір фону елементів - #F5F4FA */
/* колір соцмережі - #AFB1B8 */

:root {
  --accent-color: #2196f3;
  --base-color: #ffffff;
  --heading-color: #212121;
  --text-color: #757575;
  --btn-color: #f5f4fa;
  --social-color: #afb1b8;
}
